extends layout

block content
  h1= title
  p Welcome to #{title}

  ul 
    for message in messages
      li 
        p Message from #{message.user}
        p Message content: #{message.text}
        p Sent on #{message.added}